body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: stretch; 
    background: #E5E7EB;
}

.signup-container {
    flex-grow: 1; 
    display: flex; 
}

.left-panel {
    flex: 1; 
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80');
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-box {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;  
    width: 100%; /* now the box will always be as wide as .left-panel */
    position: absolute; /* position it absolutely inside .left-panel */
    top: 20%; /* align it with the top of .left-panel */
    left: 0; /* align it with the left of .left-panel */
    display: flex; /* align image and text horizontally */
    align-items: center; /* vertically center align the contents */
    justify-content: center; /* horizontally center align the contents */
}


@font-face {
    font-family:'Norse Bold' ;
    src: url('Norse-Bold.otf');
}

.title{
    font-size: 100px;
    font-weight: 600;
    align-items:center;
    color: white;
    font-family: 'Norse Bold';
}

.input-container{
    padding: 20px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    width: 100%;
}

.right-panel {
    flex: 1; 
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel img {
    width: 20%;
    max-width: 300px;
}

.right-panel input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #E5E7EB;
    width: 100%; 
}

.right-panel button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #596D48;
    color: white;
    border: none;
    width: 100%;
}
